body,
h1 {
  margin: 0;
}

.message {
  color: red;
}

.layout {
  margin: 0 auto;
}

.layout-body {
  width: 960px;
  min-width: 960px;
  margin: auto;
  padding: 0.5em;
}

.header-background {
  background-color: purple;
  width: 100%;
}

.header-background h1 {
  color: white;
  text-decoration: none;
  margin: auto;
  width: 960px;
  padding: 0.5em;
}

.header-link {
  text-decoration: none;
}

.hero {
  margin: 50px 0px;
}

.hero-text {
  font-size: calc(24px + 1.5vw);
  line-height: 1.2;
}

.hero-author {
  display: flex;
}

.hero-author-text {
  color: #595959;
  margin: 10px 10px 0 10px;
}

/* src/styles/post-link.css */
.post-link {
  display: grid;
  margin: 50px 0px;
}

.post-link-body {
  text-overflow: ellipsis;
  overflow-wrap: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  color: #434343;
}

.post-link-text {
  padding: 1rem;
}

.post-link-date {
  color: #595959;
}

.post-link-image {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 575px) {
  .post-link {
    grid-template-columns: 1fr;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .post-link-image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

@media screen and (min-width: 576px) {
  .post-link {
    grid-template-columns: 280px 1fr;
    grid-column-gap: 24px;
  }
  .post-link-image {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -10px,
      rgba(0, 0, 0, 0.33) 0px 18px 36px -18px;
    border-radius: 10px;
  }
}

.footer {
  color: #595959;
  text-align: center;
}
