body,
h1 {
  margin: 0;
}

.message {
  color: red;
}

.layout {
  margin: 0 auto;
}

.layout-body {
  margin: auto;
  padding: 0.5em;
}

.header-background {
  background-color: #f75448;
  width: 100%;
}

.header-background nav {
  display: flex;
  color: white;
  text-decoration: none;
  margin: auto;
  padding: 1em;
}

.header-background nav ol {
  display: flex;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.header-background nav .left {
  width: 30%;
}

.header-background nav .right {
  justify-content: end;
  width: 70%;
  font-size: 0.8rem;
}

.header-background nav .right li {
  margin-right: 3em;
}

.header-background nav ol .logo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.header-link {
  text-decoration: none;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  padding: 5em 0 0 3em;
  width: 90%;
}

.hero-text {
  font-size: 5rem;
  line-height: 1.2;
  color: #f75448;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 1rem 0;
}

.hero-author {
  display: flex;
}

.hero-author-text {
  color: #595959;
  font-size: 1.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.wrapper {
  height: auto;
  padding: 5rem;
}

.contact-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-size: 5rem;
  line-height: 1.2;
  color: #f75448;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 1rem 0 3rem 0;
}

.page-body {
  display: flex;
  width: 90vw;
  flex-direction: column;
}

.page-second-title {
  font-size: 2.5rem;
  line-height: 1;
  color: #f75448;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 2rem 0;
}

.classes {
  width: 100%;
  display: flex;
}

.classes-card {
  display: grid;
  margin: 50px 1rem;
  cursor: pointer;
}

.btn-area {
  color: #f75448;
  margin: 2em 0;
}

.post-link {
  display: grid;
  margin: 50px 1rem;
}

.post-link-body {
  text-overflow: ellipsis;
  overflow-wrap: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  color: #434343;
}

.post-link-text {
  padding: 1rem;
}

.post-link-date {
  color: #595959;
}

.post-link-image {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 575px) {
  .post-link {
    grid-template-columns: 1fr;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .post-link-image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

@media screen and (min-width: 576px) {
  .post-link {
    grid-template-columns: 280px 1fr;
    grid-column-gap: 24px;
  }
  .post-link-image {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -10px,
      rgba(0, 0, 0, 0.33) 0px 18px 36px -18px;
    border-radius: 10px;
  }
}

.footer {
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
  height: 10em;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
}

.post-header {
  margin: 80px auto;
  max-width: 700px;
}

.post-date {
  color: #434343;
}

.post-image {
  width: 100%;
  height: 100%;
  max-height: 450px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px -10px,
    rgba(0, 0, 0, 0.22) 0px 18px 36px -18px;
}

.post-body {
  margin: 80px auto;
  max-width: 700px;
}

.post-body img {
  width: 100%;
  height: auto;
}

.post-link-anchor {
  color: inherit;
  text-decoration: none;
}

.not-found-message {
  margin: 40px auto;
  text-align: center;
}

.not-found-image {
  width: 100%;
  height: auto;
  margin: 40px auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px;
}

.cource-area {
  display: flex;
}
.cource-area-box {
  width: 30%;
  height: 300px;
  border: 1px solid #ccc;
  margin: auto;
  border-radius: 10px;
}

.cource-area-box-top {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}

.cource-area-box-bottom {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cource-area-box-bottom .title {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.8em;
}

.cource-area-box-bottom p {
  margin: 0;
  font-size: 0.8rem;
  padding: 0em 1em;
}

.cource-area-img {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  max-width: 265px;
  padding: 1em;
}

/* ========================================== */
/* 600px以下に適用されるCSS（スマホ用） */
/* ========================================== */

@media screen and (max-width: 600px) {
  .header-background nav {
    display: flex;
    color: white;
    text-decoration: none;
    margin: auto;
    padding: 0.1em;
  }
  .header-background nav .left {
    width: 30%;
    padding: 1em 1em;
  }
  .hero {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    padding: 1em;
    width: 90%;
  }
  .hero-author {
    display: flex;
    width: 90%;
  }
  .hero-author-text {
    color: #595959;
    font-size: 1rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .hero-text {
    font-size: 1.5rem;
    line-height: 1.2;
    color: #f75448;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 1rem 0;
  }
  .header-background nav {
    display: flex;
    color: white;
    text-decoration: none;
    margin: auto;
    justify-content: space-between;
  }
  .header-background nav .right {
    justify-content: space-between;
    width: 50%;
    font-size: 0.6rem;
    padding: 1em;
  }

  .header-background nav .right li {
    margin-right: 0;
  }

  .wrapper {
    padding: 1em;
  }
  .page-title {
    font-size: 3rem;
    line-height: 1.2;
    color: #f75448;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 1rem 0 3rem 0;
  }
  .page-second-title {
    font-size: 1.6rem;
    line-height: 1;
    color: #f75448;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 2rem 0;
  }
  .cource-area {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
  .cource-area-box {
    height: 300px;
    border: 1px solid #ccc;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 2em;
    width: 90%;
  }
  .cource-area-img {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    max-width: 265px;
    padding: 1.5em 1em 1em 1em;
  }
}
